*{
    margin: 0;
    line-break: 0;
    text-align: center;
}
header{
    display: flex;
    justify-content: left;
    gap: 200px;
    background-color: coral;
    margin-bottom: 50px;
}
img{
    height: 400px;
    width: 400px;
}

h1{
    font-size: 100px;
}
h2{
    font-size: 70px;
}
.pic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    
}